*{
  font-family: "Indie Flower", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  min-width: 210px;


}

#gameMain {
  text-align: center;
  width: 100%;
}

#gameMain caption{
  padding-bottom: 1.5rem;
}

#clock_game{
  font-size: 1.5rem;
  margin-top  : 1rem;
  margin-bottom  : 1rem;
}
#clock_svg{
  border-radius: 100%;
  box-shadow: 0 0 0 1px #fff inset;
}

.td_game {
  /* border: 0.1rem solid black;
  border-radius: 0.5rem;*/
  height: 15vw;
  width: 15vw;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 800px) {
  .td_game {
    height: 10vw;
    width: 10vw;
  }
}

.td_game:hover {
  cursor: pointer;
}

.table_game {
  /* height: 25rem;
  width: 25rem; */
  margin: 0 auto;
  margin-bottom: 1.5rem ;
  margin-top:1rem
}

.ulScore_game {
  padding: 0;
  list-style-type: none;
}

.table_game tr td:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.table_game tr:nth-child(3) td {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.win {
  background: rgba(255, 216, 108, 0.842);
}

#gameMain button{
  border: 1px solid black;
  background: white;
  border-radius: 15px;
  background-color: lightskyblue;
  padding: 10px;
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: bold;
  box-shadow: 0 9px #999;
  outline: none;

}

#gameMain button:hover{
  background: rgb(85, 138, 172);
  cursor: pointer;

}

#gameMain button:active {
  box-shadow: 0px 4px 3px #aaaaaa;
  transform: translateY(4px);
}

#version{
  text-align: center;
}

#style_div {
  padding: 10px;

}

.cuadritos{
  background-color: whitesmoke;
  background-image:  linear-gradient(
     90deg,
      transparent 78px,
      skyblue 79px,
      skyblue 81px,
      transparent 81px
  ), repeating-linear-gradient(
    90deg,
    transparent,
    transparent 15px,
    rgb(255, 183, 183) 10px,
    rgba(255, 183, 183) 16px
  ),
  /* on "bottom" */
  repeating-linear-gradient(
     0deg,
    transparent,
    transparent 15px,
    rgba(255, 183, 183) 8px,
    rgba(255, 183, 183) 16px
  );
  background-attachment: fixed;
}

.dosrayas{
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}